# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GameCoding/.vs/GameCoding/FileContentIndex/8faf6680-0bbc-4fc9-9564-a8644ce29252.vsidx
GameCoding/.vs/GameCoding/v17/Browse.VC.db
GameCoding/.vs/GameCoding/v17/Browse.VC.db-shm
GameCoding/.vs/GameCoding/v17/Browse.VC.db-wal
GameCoding/.vs/GameCoding/v17/Browse.VC.opendb
GameCoding/.vs/GameCoding/v17/ipch/AutoPCH/2d143e5c95750049/GAMECODING.ipch
GameCoding/.vs/GameCoding/v17/Browse.VC.db
*.db
GameCoding/.vs/GameCoding/v17/Browse.VC.db
GameCoding/.vs/GameCoding/FileContentIndex/2c97897a-f938-4fde-be65-1ca5944ca40e.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/80cd8e2c-2fb2-4107-ad41-960470625105.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/89dacdfe-d798-4694-817f-92dd725c7c01.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/0ecef18c-278a-40c5-a738-bdc5235a8753.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/2d7e6650-8c59-4002-be66-70605aec603a.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/c1081fde-cce0-4b0b-a68c-f411c34bffc4.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/f632621c-d413-4f7b-93b9-3a774f870fec.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/27bf212c-dda3-45eb-973a-463a618f3452.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/0ecef18c-278a-40c5-a738-bdc5235a8753.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/1be64860-65f2-4f47-a216-36afe0901c2b.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/2486fb6b-75bc-4d57-8b34-ff8fc212997a.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/76f57855-7f59-4b9e-896c-ff7eb54ddfea.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/be9b00ac-1f2f-41bd-9d60-6652ed8daaa2.vsidx
GameCoding/.vs/GameCoding/FileContentIndex/85e96c18-ed57-46c1-9dde-4c275f7573a8.vsidx
